<h1>Log In Below:</h1><br>

<form action="/sessions" method="post">
<label for="email">email:</label>
<input type="test" id="email" name="email"><br>

<label for="password"> password:</label>
<input type="text" id="password" name="password"><br>

<input type="submit" value="Log In">
</form>