<h1>Sign Up Below:</h1>

<form action='/registrations' method="POST">
  <h2>Name:</h2>
  <p>
    <input type="text" name="name" id="name" required>
  </p>
  <h2>Email:</h2>
  <p>
    <input type="email" name="email" id="email" required>
  </p>
  <h2>Password:</h2>
  <p>
    <input type="password" name="password" id="password" required>
  </p>
  <input type="submit" value="Sign Up">
</form>

