<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
  <p> Email: <input type="text" id="email"><p><br>
  <p> Username: <input type="text" id="name"><p><br><br>
  <p> Password: <input type="text" id="password"><p><br><br>
  <input type="submit" value="Submit">
</form>
